body {
  font-family: 'Inter', sans-serif;
  margin: 0; /* Remove default body margin */
  background-color: #f1f1f1; /* Light background */
}

p {
  margin: 0px;
  padding: 5px 10px;
  text-align: center;
}

.navbar {
  background-color: white; /* White navbar */
    color:#799dbd ;
  padding: 1rem 2rem; /* Adjust padding */
  display: flex;
  justify-content: space-between; /* Space out logo and links */
  align-items: center;
  border-bottom: 1px solid #ddd; /* Subtle border */
  max-width: 1280px;
  margin: 0px auto; /* Full width */
  margin-top: 20px;
  box-sizing: border-box; /* Include padding and border in width */
  border-radius: 8px;
  font-family: "Fredoka", sans-serif;

}

.navbar .logo {
  font-size: 2rem;
  font-weight: 700;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
}

.navbar .nav-links .dropdown {
  position: relative;
} 

.navbar .nav-links .dropdown-toggle {
  display: block;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ccc; /* Button-like border */
  border-radius: 5px;
  background-color: #9abddc; /* Light background for button */
  cursor: pointer;
}

.navbar .nav-links .dropdown-toggle:hover {
  background-color: #ddd;
  color: black;
}

.navbar .nav-links .dropdown-menu {
  position: absolute;
  top: calc(100% + 0.2rem); /* Position below the button */
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  min-width: 120px;
  display: none; /* Hidden by default */
}

.navbar .nav-links .dropdown:hover .dropdown-menu {
  display: block;
}

.navbar .nav-links .dropdown-menu button.logout-button {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
  white-space: nowrap;
  border: none;
  background: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}

.navbar .nav-links .dropdown-menu a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
  white-space: nowrap;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;

}




.navbar .nav-links .dropdown-menu a:hover,
.navbar .nav-links .dropdown-menu button.logout-button:hover {
  background-color: #9abddc;
  color: white;
}

.container {
  max-width: 1280px; /* Example container width */
  margin: 2rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}